<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ephemera</title>
    <link rel="stylesheet" href="/css/font.css"/>
    <link rel="stylesheet" href="/css/page-header.css"/>
    <link rel="stylesheet" href="/css/page-cotent.css"/>
    <link rel="stylesheet" href="/css/body.css"/>
    <link rel="stylesheet" href="/css/aside.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/responsive.css"/>
    <link rel="stylesheet" href="/css/about.css"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/axios.js" type="text/javascript"></script>
</head>

<body>
<nav style="background-image: url(/images/aboutbg.png); height: 40vh">
    <!-- 导航栏 -->
    <div id="page-header">
        <span class="logo"><a href="#">SEULG</a></span>

        <div class="toggle-menu">
          <span class="menus_item">
            <a href="#"><i class="iconfont icon-search"></i></a>
          </span>
            <input type="checkbox" id="toggle"/>
            <label for="toggle">
                <div class="hanbao">
                    <div class="menu-icon-first"></div>
                    <div class="menu-icon-second"></div>
                    <div class="menu-icon-third"></div>
                </div>
            </label>
            <div class="main-menu">
            <span class="menus_item">
              <a href="#"><i class="iconfont icon-search"></i>搜索</a>
              <a href="#"><i class="iconfont icon-biaoqian"></i>标签</a>
              <a href="#"><i class="iconfont icon-fenlei"></i>分类</a>
              <a href="#"><i class="iconfont icon-htmal5icon06"></i>主页</a>
              <a href="#"><i class="iconfont icon-youlian"></i>友链</a>
              <a href="#"><i class="iconfont icon-liuyan"></i>留言</a>
              <a href="register.html"
              ><i class="iconfont icon-guanyuwomen"></i>登陆</a
              >
            </span>
            </div>
        </div>
    </div>
    <!-- 滑动按钮 -->
    <div class="scroll-down">
        <a class="go-to-main"><i class="iconfont icon-xia"></i></a>
    </div>
</nav>

<div class="content-outer">
    <div class="content-inner" id="user">
        <div class="user-info-panel">
            <div class="module">
                <div class="module-panel">
                    <a :class="{current: flag}" @click="flag===true?flag=true:flag=!flag">基本信息</a>
                    <a :class="{current: !flag}"  @click="flag===true?flag=!flag:flag=false">头像</a>
                </div>
            </div>
        </div>
        <div class="user-info-edit" v-if="flag">
            <div class="module">
                <!--user-->
                <div class="module-panel">
                    <div class="module-title">
                        <span>{{user.userName}}</span>
                        的基本信息
                    </div>
                    <div class="module-form">
                        <label for="userName">
                            <div>昵称</div>
                            <input type="text" placeholder="昵称" name="userName" id="userName" v-model="user.userName">
                        </label>
                        <label for="sex">
                            <div>性别</div>
                            <input type="text" placeholder="性别" name="sex" id="sex" v-model="user.sex">
                        </label>
                        <label for="birthday">
                            <div>出生日期</div>
                            <input type="date" placeholder="出生日期" name="birthdayDate" id="birthday" v-model="user.birthdayDate">
                        </label>
                        <label for="passwd">
                            <div>密码</div>
                            <input type="text" placeholder="密码" name="password" id="passwd" v-model="user.password">
                        </label>
                        <label for="confirmPasswd">
                            <div>确认密码</div>
                            <input type="text" placeholder="确认密码" name="confirmPassword" id="confirmPasswd" v-model="user.confirmPassword">
                        </label>
                        <input type="submit" value="保存" @click="updateUser">
                    </div>
                </div>
                <!--userinfo-->
                <div class="module-panel">
                    <div class="module-title">
                        <span>站点链接</span>
                    </div>
                    <div class="module-form">
                        <label for="usiteGitHub">
                            <div>Github</div>
                            <div class="input-inline">
                                <i class="iconfont icon-huaban88"></i>
                                <div class="label-desc">
                                    https://github.com/
                                </div>
                                <input id="usiteGitHub" placeholder="Github" type="text" v-model="userInfo.github">
                            </div>
                        </label>
                        <label for="usiteCsdn">
                            <div>CSDN</div>
                            <div class="input-inline">
                                <i class="iconfont icon-csdn1-copy"></i>
                                <div class="label-desc">
                                    https://blog.csdn.net/
                                </div>
                                <input id="usiteCsdn" placeholder="CSDN" type="text" v-model="userInfo.csdn">
                            </div>
                        </label>
                        <label for="QQ">
                            <div>QQ</div>
                            <div class="input-inline">
                                <i class="iconfont icon-QQ-fill"></i>
                                <input id="QQ" placeholder="QQ" type="text" v-model="userInfo.qq">
                            </div>
                        </label>

                        <label for="motto">
                            <div>motto</div>
                            <input type="text" placeholder="写一句鼓励自己的话吧" v-model="userInfo.motto" id="motto">
                        </label>

                        <input type="submit" id="usite" value="保存" @click="updateUserInfo">
                    </div>
                </div>
            </div>
        </div>

        <div class="user-info-edit" v-if="!flag">
            <div class="module">
                <!--user-->
                <div class="module-panel">
                    <div class="module-title">
                        <span>请上传头像</span>
                        <div class="avatar-box">
                            <img :src="userInfo.avatarURL" :alt="user.username">
                        </div>
                    </div>
                    <div class="module-form">
                        <form id="uploadForm" enctype="multipart/form-data" method="post">
                            <input type="file" name="avatar">
                        </form>
                        <input type="submit" value="保存" @click="uploadAvatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div id="footer">
        <div class="copyright">
            ©2019 - 2020
            <a href="">By Seulg</a>
        </div>
        <div class="framework-info">
            <span> Power by </span>
            <a href=""> Spring </a>
            <span>|</span>
            <span>Modified by</span>
            <a href="">Seulg</a>
        </div>
    </div>
</footer>
</body>

<script type="text/javascript" src="/js/about.js"></script>
</html>
