<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ephemera</title>
    <link rel="stylesheet" href="css/font.css"/>
    <link rel="stylesheet" href="css/page-header.css"/>
    <link rel="stylesheet" href="css/page-cotent.css"/>
    <link rel="stylesheet" href="css/body.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <link rel="stylesheet" href="css/aside.css"/>

    <!-- vditor编辑器 -->
    <link rel="stylesheet" href="vditor/index.css"/>
    <script src="vditor/index.min.js"></script>
    <!--jq-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="js/edit.js"></script>
    <!--tagInput-->
    <link rel="stylesheet" href="js/buefy.min.css"/>
    <link rel="stylesheet" href="css/all.css"/>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/buefy.min.js"></script>

    <style>
        #app section {
            padding: 10px;
        }
    </style>
</head>

<body>
<nav style="background-image: url(images/aboutbg.png); height: 20vh">
    <!-- 导航栏 -->
    <div id="page-header">
        <span class="logo"><a href="#">SEULG</a></span>

        <div class="toggle-menu">
          <span class="menus_item">
            <a href="#"><i class="iconfont icon-search"></i></a>
          </span>
            <input type="checkbox" id="toggle"/>
            <label for="toggle">
                <div class="hanbao">
                    <div class="menu-icon-first"></div>
                    <div class="menu-icon-second"></div>
                    <div class="menu-icon-third"></div>
                </div>
            </label>
            <div class="main-menu">
            <span class="menus_item">
              <a href="#"><i class="iconfont icon-search"></i>搜索</a>
              <a href="#"><i class="iconfont icon-biaoqian"></i>标签</a>
              <a href="#"><i class="iconfont icon-fenlei"></i>分类</a>
              <a href="#"><i class="iconfont icon-htmal5icon06"></i>主页</a>
              <a href="#"><i class="iconfont icon-youlian"></i>友链</a>
              <a href="#"><i class="iconfont icon-liuyan"></i>留言</a>
              <a href="register.html"
              ><i class="iconfont icon-guanyuwomen"></i>登陆</a
              >
            </span>
            </div>
        </div>
    </div>
</nav>

<div class="content-outer">
    <div class="content-inner" style="max-width:1500px">
        <div class="recent-post" style="width: 70% ;margin-top: 20px">
            <div id="vditor" class="vditor"></div>
        </div>
        <div class="aside_content" style="width: 30%">
            <div class="card-widget card-announcement" style="overflow: inherit">
                <div class="card-content">
                    <div class="card-anno-conten">
                        <div id="app">
                            <template>
                                <section>
                                    <b-field label="title">
                                        <b-input v-model="name"></b-input>
                                    </b-field>
                                </section>
                                <section>
                                    <b-field label="your tags">
                                        <b-taginput v-model="vTags" type="is-warning"></b-taginput>
                                    </b-field>
                                </section>
                                <section>
                                    <b-button type="is-primary" expanded @click="send">提交</b-button>
                                </section>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
